# Secrets
secrets.yaml

# ESPHome build artifacts
.esphome/
.pioenvs/
.pio/

# Python Virtual Env
esphome_venv/

# OS specific
.DS_Store
Thumbs.db

# PCB Project Local Files
PCB/HArem/fp-info-cache
PCB/HArem/HArem-backups/
PCB/ESP32-C3_SUPERMINI_TH/
*.lck
