# Secrets
secrets.yaml

# ESPHome build artifacts
.esphome/
.pioenvs/
.pio/

# Python Virtual Env
esphome_venv/

# OS specific
.DS_Store
Thumbs.db

# PCB Project Local Files
PCB/HArem/fp-info-cache
PCB/HArem/HArem-backups/
PCB/ESP32-C3_SUPERMINI_TH/
PCB/OLED_128X64_1.3_I2C/
PCB/Rotary_Encoder.pretty/
PCB/S2B-PH-K-S_LF__SN_/
PCB/TP4056/
PCB/EC11\ Rotary\ Encoder\ Dode\ Switch-15mm\ .STEP
*.lck
